<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


	<servlet>
		<servlet-name>RoleControllerAdd</servlet-name>
		<servlet-class>controller.role.ControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoleControllerDelete</servlet-name>
		<servlet-class>controller.role.ControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoleControllerIndex</servlet-name>
		<servlet-class>controller.role.ControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleControllerIndex</servlet-name>
		<url-pattern>/roles/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoleControllerView</servlet-name>
		<servlet-class>controller.role.ControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleControllerView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoleControllerUpdate</servlet-name>
		<servlet-class>controller.role.ControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleControllerUpdate</servlet-name>
		<url-pattern>/roles/update</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>UserControllerAdd</servlet-name>
		<servlet-class>controller.user.ControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserControllerDelete</servlet-name>
		<servlet-class>controller.user.ControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserControllerIndex</servlet-name>
		<servlet-class>controller.user.ControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerIndex</servlet-name>
		<url-pattern>/users/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserControllerView</servlet-name>
		<servlet-class>controller.user.ControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserControllerUpdate</servlet-name>
		<servlet-class>controller.user.ControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerUpdate</servlet-name>
		<url-pattern>/users/update</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>ResourceControllerAdd</servlet-name>
		<servlet-class>controller.resource.ControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerDelete</servlet-name>
		<servlet-class>controller.resource.ControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerIndex</servlet-name>
		<servlet-class>controller.resource.ControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerIndex</servlet-name>
		<url-pattern>/resources/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerView</servlet-name>
		<servlet-class>controller.resource.ControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerUpdate</servlet-name>
		<servlet-class>controller.resource.ControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerUpdate</servlet-name>
		<url-pattern>/resources/update</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.ControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controller.access.ControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.ControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerView</servlet-name>
		<servlet-class>controller.access.ControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerUpdate</servlet-name>
		<servlet-class>controller.access.ControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerUpdate</servlet-name>
		<url-pattern>/access/update</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>GmailServlet</servlet-name>
		<servlet-class>dlince.GmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GmailServlet</servlet-name>
		<url-pattern>/gmail</url-pattern>
	</servlet-mapping>
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
